.banner{
    position: relative;
}
.banner img{
    width: 100%;
}
.banner .text {
    font-family: "Nunito Sans", sans-serif;
    width: 30%;
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.banner .text h6{
    color: #e53637;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 28px;
    /* position: relative; */
    /* top: 100px; */
    /* opacity: 0; */
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}
.banner .text h2{
    color: #111111;
    font-size: 50px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 30px;
    /* position: relative;
    top: 100px; */
    /* opacity: 0; */
    -webkit-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
}
.product__item__text i{
    margin: 0 3px;
}